main.scaffold {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  place-content: center;
}

main section {
  max-width: 800px;
}
main section.preview {
  position: relative;
}

@media only screen and (max-width: 600px) {
  main.scaffold {
    display: flex;
    flex-direction: column;
    gap: 20px;
    place-items: center;
    place-content: center;
    padding: 5px;
    width: 100%;
  }

  main section {
    max-width: 400px;
  }
}